<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jcruells.sm.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.jcruells.sm.client.App">"
        <activity
            android:name="org.jcruells.sm.client.LoginScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.jcruells.sm.client.VideoListActivity"
            android:label="@string/title_activity_video_list" >
        </activity>
        <activity
            android:name="org.jcruells.sm.client.doctor.PatientsListActivity"
            android:label="@string/title_activity_patients_list" >
        </activity>
        <activity
            android:name="org.jcruells.sm.client.patient.CheckinsListActivity"
            android:label="@string/title_activity_checkins_list" >
        </activity>
    </application>

</manifest>
